@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  background: #dfebfe;
}

.customnav {
  /* background-color: rgb(25, 111, 223);
  border: 2px rgb(227, 80, 26) groove; */
  background: linear-gradient(180deg, rgba(242, 102, 186, 0.2) 33.67%, rgba(249, 53, 170, 0) 95.65%), linear-gradient(180deg, rgba(232, 170, 126, 0) 0%, rgba(218, 106, 25, 0.84) 72.21%), rgba(105, 174, 254, 0.87);
  mix-blend-mode: normal;
  backdrop-filter: blur(2px);
}

.d-flex {
  display: flex!important;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.customcontainer {
  margin-top: 50px;
  font-family: 'Space Grotesk', sans-serif;
}

.customfivedayforcast {
  border:2px;
  border-color:rgb(227, 80, 26);
  border-style:dashed;
}

.customnav a{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding:2px;
  background:linear-gradient(180deg, rgba(242, 102, 186, 0.2) 33.67%, rgba(249, 53, 170, 0) 95.65%), linear-gradient(180deg, rgba(232, 170, 126, 0) 0%, rgba(218, 106, 25, 0.84) 72.21%), rgba(105, 174, 254, 0.87);
}